---
import LandingHeader from "../components/LandingHeader.astro";
import HeroSection from "../components/HeroSection.astro";
import ModelY from "../components/ModelY.astro";
import ModelX from "../components/ModelX.astro";
import ModelS from "../components/ModelS.astro";
import Experience from "../components/ExperienceTesla.astro";

import Layout from "../layouts/Layout.astro";
---


<Layout title="Tesla">
  <LandingHeader />
  <main class="snap-y snap-mandatory relative w-full h-screen overflow-auto scroll-m-0">
    <div id="Model3" class="snap-center">
      <HeroSection />
    </div>
    <div id="ModelY" class="snap-center">
      <ModelY title="model Y"/>
    </div>
    <div id="ModelS" class="snap-center">
      <ModelS />
    </div>
    <div id="ModelX" class="snap-center">
      <ModelX />
    </div>
    <div class="snap-center">
      <Experience />
    </div>
    
  </main>
</Layout>
