---
import LandingHeader from "../components/LandingHeader.astro";
import HeroSection from "../components/HeroSection.astro";
import Models from "../components/Models.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Tesla.">
  <LandingHeader />
  <main class="snap-y snap-mandatory relative w-full h-screen overflow-auto scroll-m-0">
    <div class="snap-center">
      <HeroSection />
    </div>
    <div class="snap-center">
      <Models />
    </div>
    <div class="snap-center">
      <HeroSection />
    </div>
  </main>
</Layout>
