<section
  class="landing-section h-screen w-screen text-center overflow-hidden relative bg-black"
  data-header-color="white"
>
  <div class="z-30 relative h-full flex flex-col">
    <header>
      <h2 class="text-white pt-40 text-5xl font-medium">Experience Tesla</h2>

      <p class="text-sm text-white">Schedule a Demo Drive Today</p>
    </header>

    <footer
      class="flex flex-col flex-grow justify-end pb-24 mx-[auto] w-[15rem]"
    >
      <a
        class="text-white border-[1px] border:white rounded font-medium ptext-white px-6 py-2 inline-block
            hover:bg-white hover:text-black transition-colors bg-white/5 backdrop-blur-md"
        href="#"
      >
        Demo Drive</a
      >
    </footer>
  </div>

  <div class="absolute top-0 bottom-0 h-full w-full z-10">
    <video
      class="object-center object-cover h-full w-full"
      autoplay
      muted
      loop
      src="video.webm"></video>
  </div>
</section>
